*.aux
*.bbl
*.aux
*.bcf
*.blg
*.lof
*.gz
*.xml
*.aux
*.log
*.lot
*.toc
*.bbl
*.icloud
TeX/Talks/talk_2910.nav
TeX/Talks/talk_2910.out
TeX/Talks/talk_2910.snm
TeX/experiment.aux
TeX/master_thesis.aux
TeX/master_thesis.bcf
TeX/master_thesis.lof
TeX/master_thesis.log
TeX/master_thesis.toc
TeX/thesis_appendix.aux
TeX/thesis_intro.aux
.DS_Store
TeX/.DS_Store
bayes/stan_file
bayes/stan_file1
bayes/noisy_model/stan_file
bayes/noisy_model/stan_file1
bayes/noisy_model/stan_file
bayes/noisy_model/stan_file1
TeX/experiment.aux
TeX/master_thesis.aux
TeX/master_thesis.bcf
TeX/master_thesis.lof
TeX/master_thesis.log
TeX/master_thesis.lot
TeX/master_thesis.pdf
TeX/master_thesis.toc
TeX/thesis_appendix.aux
TeX/thesis_intro.aux
bayes/realdeal/farahs_trees.root
bayes/farahs_trees.root
bayes/toyMC/pi0_toybins/
bayes/toyMC/test_toybins/
bayes/toyMC/toybins/
bayes/toyMC/toybins.zip
bayes/toyMC/test_toybins.zip
bayes/toyMC/pi0_toybins.zip
bayes/toyMC/py_toybins/
bayes/toyMC/stan_trash/
*.aux
*.aux
*.lof
*.log
*.toc
*.aux
*.aux
*.aux
bayes/toyMC/pi0_sigma_chi2.csv
bayes/toyMC/pi0_sigma.csv
bayes/toyMC/pi0_diagnostics.csv
bayes/toyMC/sigma_chi2.csv
bayes/toyMC/sigma.csv
bayes/toyMC/diagnostics.csv
bayes/event_based_fit/event_based_fit.zip
bayes/realdeal/realdeal.zip
bayes/toyMC/toyMC.zip
*.nav
*.out
*.snm
bayes/toyMC/super_diagnostics.csv
bayes/toyMC/super_sigma.csv
bayes/toyMC/super_sigma_chi2.csv
.DS_Store
bayes/etap_event_based_fit/toy_sigma.csv
bayes/etap_event_based_fit/toy_diagnostics.csv
bayes/etap_event_based_fit/stan_trash/
bayes/etap_event_based_fit/toy_sigma_2pi0.csv


bayes/etap_event_based_fit/toy_sigma2pi0.csv
